.wrapper {
  width: 100%;
  display: flex;
  position: relative;
}

.mainContainer {
  height: fit-content;
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  width: 100%;
}

.mainInnerWrapper {
  padding: 24px 32px;
  display: flex;
  flex-direction: column;
}
